:root{
  --min-width:999pt;
  --og:#f9624c;
}

html,body{margin:0;padding:0}
i,a,p{all:unset}
i{display:flex;flex-direction:column}

#headtop{flex-direction:row}
#headtop{max-width:var(--min-width)}

.ico{background:url('/ico.png') no-repeat}

/* 404 */
#nf404{width:100vw;height:90vh}
#nf404 i{margin:auto;font-size:18pt}


/* HeadTop */
#headtop{
  justify-content:center;
  margin:auto;
  padding:30pt 0;
  gap:16pt;
}
#headlogo{cursor:pointer}


/* Search Field */
#search,#dropdown{
  border:solid #777 1pt;
  border-radius:7px;
  position:relative;
}
#search.focus{border-color:var(--og)}

#search-form{
  flex-direction:row;
}
#search-form input{
  z-index:1;
  width:360pt;
  height:21pt;
  padding:7pt 0 7pt 12pt;
  font-size:16pt;line-height:21pt;
  border:0;outline:0;
  background:transparent;
}
#search-submit{
  margin:auto;
  padding:9pt;
  cursor:pointer;
}
#search-submit .ico{
  width:23px;height:23px;
  margin:auto;
  background-size:130px 90px;
}

#suggestroll{
  position:absolute;
  top:0; left:21pt;
  padding-top:7pt;
  height:21pt; overflow:hidden;
  font-size:16pt;line-height:21pt;
  transition:.2s ease;
}
.asug{
  flex-direction:row;
  gap:7pt;
  color:#777; font-weight:bold;
}
.asug>*{margin:0}
.asug.current{transform:translateY(0)}
.asug.current.animate{transform:translateY(21pt)}
.asug.next{transform:translateY(-21pt)}
.asug.next.animate {transform:translateY(0)}

#dropdown-wrap{
  position:relative;
  height:0;
  overflow:visible;
}
#dropdown{
  top:-1;
  border-color:var(--og);
  padding:9pt 3pt;
}
#dropdown>*{margin:3pt auto 0 7pt;}
#dropdown p{
  margin:3px 9pt 7px;
  font-size:16pt;
  font-weight:bold;
  cursor:default; user-select:none;
}
#dropdown .asug{
  color:#000; font-weight:normal;
  border-bottom:transparent solid 1px;
  cursor:pointer;
}
#dropdown .asug:hover{color:var(--og);border-bottom-color:var(--og)}

.related-keyword{display:block;
  margin:3px;
  font-weight:normal;
  border-bottom:transparent solid 1px;
  cursor:pointer;
}.related-keyword:hover{border-bottom-color:var(--og)}
.related-keyword span{color:var(--og)}

/*  */

/*  */

/* acme */
#acme{
  gap:3pt;
  padding:9vh 0;
  align-items:center;
}
#acme *{margin:0}
#acme button{cursor:pointer}